# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
test
.azle

# rust
target/

# frontend code
node_modules/
dist/
.svelte-kit/
./src/frontend/.next
./src/frontend/out

# environment variables
.env
